.certificates {
  .container {
    // overflow: hidden;
  }
  &__title {
    margin: 40px 0;
    color: #ccc;
    font-size: 30px;
    text-align: left;
  }
  &__card {
    height: 250px;
    background-color: #ccc;
    text-align: center;
  }
  .swiper {
    overflow: visible;
    .swiper-button-next,
    .swiper-button-prev {
      left: auto;
      top: -55px;
      &::after {
        font-size: 40px;
        color: #000;
      }
    }
    .swiper-button-next {
      right: 0px;
    }
    .swiper-button-prev {
      right: 50px;
    }
    .swiper-notification {
      display: none;
      // visibility: hidden
    }
  }
}